<div class="navbar bg-inverse ">
        <div class="row">
            <div class="col">
                <a class="navbar-brand text-white">
                    Shopping Cart
                </a>
            </div>
            <div class="col text-white mr-1">
                <store-cartresume></store-cartresume>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-3">
            <store-produtofilter></store-produtofilter>
        </div>
        <div class="col">
            <store-produto-list></store-produto-list>
            <store-pagination></store-pagination>
        </div>
    </div>